migrations/
.env
*.db
Pipfile
Pipfile.lock
controllers/math/
controllers/steam/
.htaccess
index.cgi
__pycache__/
kyopro/
.user.ini
400.html
401.html
403.html
404.html
500.html
510.html
atcoder.py
atcoder.py.txt
error.css