{% extends "account/layout.html" %}

{% block title %}VCT {{ data.year }}: {{ data.region }} Stage 2{% endblock %}
{% block head %}
    <link rel="manifest" href="{{ url_for('valorant.manifest') }}">
    <link rel="icon" href="{{ url_for('valorant.serve_icons', team='vct') }}" type="image/png">
    <link rel="apple-touch-icon" href="{{ url_for('valorant.serve_icons', team='vct') }}" type="image/png">
{% endblock %}

{% block content %}
<style>
    .participant img {
        max-width: 80%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .table_icon img {
        max-height: 20px;
        width: auto;
        margin: 0 auto;
    }
    .table th .table td {
        vertical-align: middle;
    }
</style>
<div class="container">
    <h1 class="vct-font">VCT {{ data.year }}: {{ data.region }} Stage 2</h1>

    <h2 class="vct-font">DATE</h2>
    <p class="vct-font">{{ data.date[0] }} - {{ data.date[1] }}</p>
    <h2 class="vct-font">PARTICIPATING TEAMS</h2>
    <div class="row row-cols-2 row-cols-sm-4">
        {% for team in data.participants %}
        <div class="col p-0 participant">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title vct-font">{{ teams[data.region].names[team] }}</h5>
                    <img src="{{ url_for('valorant.serve_icons', team=team) }}" alt="{{team}} icon" class="w-auto">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="p-2">
    <h2 class="vct-font">RESULTS</h2>
    <h3 class="vct-font">GROUP STAGE</h3>
    <div class="row row-cols-1 row-cols-xxl-2">
        {% for i,group in enumerate(data.results.group_stage) %}
            <div class="col">
                <h4 class="vct-font">GROUP {{ ["Alpha","Omega"][i] }}</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="vct-font text-center">Group {{ ["Alpha","Omega"][i] }}</th>
                            <th scope="col" class="vct-font text-center">REC</th>
                            <th scope="col" class="vct-font text-center">MAP</th>
                            <th scope="col" class="vct-font text-center">RND</th>
                            <th scope="col" class="vct-font text-center">Δ</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for j,team in enumerate(group.place) %}
                            <tr>
                                <td class="table_icon vct-font">
                                    <img src="{{ url_for('valorant.serve_icons', team=team) }}" alt="{{team}} icon">
                                    {{ teams[data.region].names[team] }}</td>
                                <td class="vct-font text-center">{{ group.result[team].REC[0] }} - {{ group.result[team].REC[1] }}</td>
                                <td class="vct-font text-center">{{ group.result[team].MAP[0] }} / {{ group.result[team].MAP[1] }}</td>
                                <td class="vct-font text-center">{{ group.result[team].RND[0] }} / {{ group.result[team].RND[1] }}</td>
                                <td class="vct-font text-center">{% if group.result[team].RND[0] > group.result[team].RND[1] %}+{% endif %}{{ group.result[team].RND[0] - group.result[team].RND[1] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <h5 class="vct-font">Matches</h5>
                <div class="container">
                    {% for j,match in enumerate(group.matches) %}
                        <div class="row mb-1 mx-5">
                            <div class="col-5 ms-3 text-end border p-3 vct-font table_icon">
                                {{ keys(match)[0] }}
                                <img src="{{ url_for('valorant.serve_icons', team=keys(match)[0]) }}" alt="{{keys(match)[0]}} icon">
                            </div>
                            <div class="col text-center border p-3 vct-font">
                                {{ match[keys(match)[0]] }}:{{ match[keys(match)[1]] }}
                            </div>
                            <div class="col-5 me-3 text-start border p-3 vct-font table_icon">
                                <img src="{{ url_for('valorant.serve_icons', team=keys(match)[1]) }}" alt="{{keys(match)[1]}} icon">
                                {{ keys(match)[1] }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <h3 class="vct-font">PLAYOFFS STAGE</h3>
    <div class="d-flex justify-content-center">
        <table class="table" style="max-width: 60%;">
            <thead>
                <tr>
                    <th scope="col" class="vct-font text-center" style="width: 10%;">PLACE</th>
                    <th scope="col" class="vct-font text-center" style="width: 10%;">PRIZE</th>
                    <th scope="col" class="vct-font text-start" style="width: 15%;">TEAM</th>
                    <th scope="col" class="vct-font text-center" style="width: 10%;">CIRCUIT POINTS</th>
                </tr>
            </thead>
            <tbody>
                {% for i,x in enumerate(data.results.playoffs_stage.place) %}
                    <tr>
                        <th scope="row" class="vct-font text-center">{{ ["1st","2nd","3rd","4th","5th-6th","5th-6th","7th-8th","7th-8th","9th-10th","9th-10th","11th-12th","11th-12th"][i] }}</th>
                        <td class="vct-font text-center">{{ data.results.playoffs_stage.prize[i] }}</td>
                        <td class="vct-font text-start table_icon"><img src="{{ url_for('valorant.serve_icons', team=x) }}" alt="{{x}} icon">{{ teams[data.region].names[x] }}</td>
                        <td class="vct-font text-center">{{ data.results.playoffs_stage.circuit[i] }} points</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mx-5">
        <h4 class="vct-font">Upper Bracket</h4>
        <div class="row mx-3">
            <div class="col">
                {% for i in data.results.playoffs_stage.opening %}
                    <div class="card mb-3">
                        <div class="card-body text-center p-0">
                            {% if i!={} %}
                                {% for j in keys(i) %}
                                    <div class="d-flex border p-2 align-items-center" {% if max_key(i)==j %}style="font-weight: bold;background-color: rgb(197,255,202);"{% endif %}>
                                        <div class="p-2 text-start vct-font"><img src="{{ url_for('valorant.serve_icons', team=j) }}" alt="{{ j }} icons" class="me-2 w-25">{{ j }}</div>
                                        <div class="ms-auto p-2 vct-font">{% if i[j] is not none %}{{ i[j] }}{% else %}{% endif %}</div>
                                    </div>
                                {% endfor %}
                            {% else %}
								<div class="border p-2">
									<div class="p-2">---</div>
								</div>
								<div class="border p-2">
									<div class="p-2">---</div>
								</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                {% for i in data.results.playoffs_stage.upper_semifinals %}
                    <div class="card mb-3">
                        <div class="card-body text-center p-0">
                            {% if i!={} %}
                                {% for j in keys(i) %}
                                    <div class="d-flex border p-2 align-items-center" {% if max_key(i) == j %}style="font-weight: bold;background-color: rgb(197, 255, 202);"{% endif %}>
                                        <div class="p-2 text-start vct-font"><img src="{{ url_for('valorant.serve_icons', team=j) }}" alt="{{ j }} icons" class="me-2 w-25">{{ j }}</div>
                                        <div class="ms-auto p-2 vct-font">{% if i[j] is not none %}{{ i[j] }}{% else %}{% endif %}</div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col d-flex align-items-center">
                <div class="card mb-3 w-100">
                    <div class="card-body text-center p-0">
                        {% if data.results.playoffs_stage.upper_final!={} %}
                            {% for j in keys(data.results.playoffs_stage.upper_final) %}
                                <div class="d-flex border p-2 align-items-center" {% if max_key(data.results.playoffs_stage.upper_final) == j %}style="font-weight: bold;background-color: rgb(197, 255, 202);"{% endif %}>
                                    <div class="p-2 text-start vct-font"><img src="{{ url_for('valorant.serve_icons', team=j) }}" alt="{{ j }} icon" class="me-2 w-25">{{ j }}</div>
                                    <div class="ms-auto p-2 vct-font">{% if data.results.playoffs_stage.upper_final[j] is not none %}{{ data.results.playoffs_stage.upper_final[j] }}{% else %}{% endif %}</div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="border p-2">
								<div class="p-2">---</div>
							</div>
							<div class="border p-2">
								<div class="p-2">---</div>
							</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-center">
				<div class="card mb-3 w-100">
					<div class="card-body text-center p-0">
						{% if data.results.playoffs_stage.grand_final != {} %}
							{% for j in keys(data.results.playoffs_stage.grand_final) %}
								<div class="d-flex border p-2 align-items-center" {% if max_key(data.results.playoffs_stage.grand_final) == j %}style="font-weight: bold;background-color: rgb(197, 255, 202);"{% endif %}>
									<div class="p-2 text-start vct-font"><img src="{{ url_for('valorant.serve_icons', team=j) }}" alt="{{ j }} icon" class="me-2 w-25">{{ j }}</div>
									<div class="ms-auto p-2 vct-font">{% if data.results.playoffs_stage.grand_final[j] is not none %}{{ data.results.playoffs_stage.grand_final[j] }}{% else %}{% endif %}</div>
								</div>
							{% endfor %}
						{% else %}
							<div class="border p-2">
								<div class="p-2">---</div>
							</div>
							<div class="border p-2">
								<div class="p-2">---</div>
							</div>
						{% endif %}
					</div>
				</div>
            </div>
        </div>
        <h4 class="vct-font">Lower Bracket</h4>
        <div class="row mx-3">
            <div class="col">
                {% for i in data.results.playoffs_stage.lower_round_1 %}
                    <div class="card mb-3">
                        <div class="card-body text-center p-0">
                            {% if i!={} %}
                                {% for j in keys(i) %}
                                    <div class="d-flex border p-2 align-items-center" {% if max_key(i)==j %}style="font-weight: bold;background-color: rgb(197,255,202);"{% endif %}>
                                        <div class="p-2 text-start vct-font"><img src="{{ url_for('valorant.serve_icons', team=j) }}" alt="{{ j }} icons" class="me-2 w-25">{{ j }}</div>
                                        <div class="ms-auto p-2 vct-font">{% if i[j] is not none %}{{ i[j] }}{% else %}{% endif %}</div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="border p-2">
                                    <div class="p-2">---</div>
                                </div>
                                <div class="border p-2">
                                    <div class="p-2">---</div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                {% for i in data.results.playoffs_stage.lower_round_2 %}
                    <div class="card mb-3">
                        <div class="card-body text-center p-0">
                            {% if i!={} %}
                                {% for j in keys(i) %}
                                    <div class="d-flex border p-2 align-items-center" {% if max_key(i) == j %}style="font-weight: bold;background-color: rgb(197, 255, 202);"{% endif %}>
                                        <div class="p-2 text-start vct-font"><img src="{{ url_for('valorant.serve_icons', team=j) }}" alt="{{ j }} icons" class="me-2 w-25">{{ j }}</div>
                                        <div class="ms-auto p-2 vct-font">{% if i[j] is not none %}{{ i[j] }}{% else %}{% endif %}</div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col d-flex align-items-center">
                <div class="card mb-3 w-100">
                    <div class="card-body text-center p-0">
                        {% if data.results.playoffs_stage.lower_round_3!={} %}
                            {% for j in keys(data.results.playoffs_stage.lower_round_3) %}
                                <div class="d-flex border p-2 align-items-center" {% if max_key(data.results.playoffs_stage.lower_round_3) == j %}style="font-weight: bold;background-color: rgb(197, 255, 202);"{% endif %}>
                                    <div class="p-2 text-start vct-font"><img src="{{ url_for('valorant.serve_icons', team=j) }}" alt="{{ j }} icon" class="me-2 w-25">{{ j }}</div>
                                    <div class="ms-auto p-2 vct-font">{% if data.results.playoffs_stage.lower_round_3[j] is not none %}{{ data.results.playoffs_stage.lower_round_3[j] }}{% else %}{% endif %}</div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="border p-2">
                                <div class="p-2">---</div>
                            </div>
                            <div class="border p-2">
                                <div class="p-2">---</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-center">
                <div class="card mb-3 w-100">
                    <div class="card-body text-center p-0">
                        {% if data.results.playoffs_stage.lower_final != {} %}
                            {% for j in keys(data.results.playoffs_stage.lower_final) %}
                                <div class="d-flex border p-2 align-items-center" {% if max_key(data.results.playoffs_stage.lower_final) == j %}style="font-weight: bold;background-color: rgb(197, 255, 202);"{% endif %}>
                                    <div class="p-2 text-start vct-font"><img src="{{ url_for('valorant.serve_icons', team=j) }}" alt="{{ j }} icon" class="me-2 w-25">{{ j }}</div>
                                    <div class="ms-auto p-2 vct-font">{% if data.results.playoffs_stage.lower_final[j] is not none %}{{ data.results.playoffs_stage.lower_final[j] }}{% else %}{% endif %}</div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="border p-2">
                                <div class="p-2">---</div>
                            </div>
                            <div class="border p-2">
                                <div class="p-2">---</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}