{% extends "account/layout.html" %}
{% block title %}コンテスト成績表{% endblock %}
{% block content %}
	<div class="container mt-5">
		<h3 class="mb-3">{{ type }} コンテスト成績表</h3>
		<table id="table" class="table table-striped table-bordered text-center table-hover">
			<thead>
				<tr>
					<th width="20%" scope="col">
						日付
						<i id="daysort" class="bi bi-sort-down"></i>
					</th>
					<th width="35%" scope="col">コンテスト</th>
					<th scope="col">
						順位
						<i id="placesort" class="bi bi-arrow-down-up"></i>
					</th>
					<th scope="col">
						パフォーマンス
						<i id="perfsort" class="bi bi-arrow-down-up"></i>
					</th>
					<th scope="col">
						新レーティング
						<i id="ratesort" class="bi bi-arrow-down-up"></i>
					</th>
					<th scope="col">
						差分
						<i id="diffsort" class="bi bi-arrow-down-up"></i>
					</th>
					{% if type=="AtCoder" %}
						<th scope="col"></th>
					{% endif %}
				</tr>
			</thead>
			{% if type == "AtCoder" %}
				{% set url="https://atcoder.jp/contests/" %}
			{% elif type == "OMC" %}
				{% set url="https://onlinemathcontest.com/contests/" %}
			{% endif %}
			<tbody>
				{% for contest in data %}
				<tr>
					{% set contestname = contest.ContestScreenName.split('.')[0] %}
					<td>{{ contest.Day }}</td>
					<td class="text-start">
						<a class="text-decoration-none" href="{{ url }}{{ contestname }}">{{ contest.ContestName }}</a>
						{% if type=="AtCoder" %}
						<a class="link-dark text-decoration-none" href="{{ url }}{{ contestname }}/submissions?f.User=Yamato0915"><i class="bi bi-search"></i></a>
						{% endif %}
					</td>
					<td><a class="text-decoration-none" href="{{ url }}{{ contestname }}/standings?watching=Yamato0915">{{ contest.Place }}</a></td>
					<td class="{{ rank(contest.Performance) }}">{{ contest.Performance }}</td>
					<td class="{{ rank(contest.NewRating) }}">{{ contest.NewRating }}</td>
					<td>
						{% set diff=contest.NewRating - contest.OldRating %}
						{% if diff > 0 %}
						+{{ diff }}
						{% elif diff == 0 %}
						±0
						{% else %}
						{{ diff }}
						{% endif %}
					</td>
					{% if type=="AtCoder" %}
						<td><a href="https://atcoder.jp/users/Yamato0915/history/share/{{ contestname }}"><i class="bi bi-share-fill"></i></a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
<script src="{{ url_for('home.static', filename='js/history.js') }}"></script>
{% endblock %}