{% extends "account/layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
	<div class="container mt-5">
		<div class="row justify-content-center">
			<!--<div class="col-md-5 mb-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">NikkeiSteam</h5>
						<p class="card-text"><a href="https://steam.nikkei.com/symposium/20250808/" style="color: #000;">日経STEAM SYMPOSIUM</a>発表用の自走学習援助アプリ</p>
						<a href="{{ url_for('steam.home') }}" class="btn btn-success">Go to steam</a>
					</div>
				</div>
			</div>-->
			<!--
			<div class="col-md-5 mb-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">VCT Champions</h5>
						<p class="card-text">Valorant Champions Parisの結果を確認できます</p>
						<a href="{{ url_for('valorant.champions', year=2025) }}" class="btn btn-success">Go to champions</a>
					</div>
				</div>
			</div>
			-->
			<div class="col-md-5 mb-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">Math</h5>
						<p class="card-text">数学の問題を投稿できるサイトです。</p>
						<a href="{{ url_for('math.problems') }}" class="btn btn-success">Go to math</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container mt-5">
		<h4 class="text-center mb-4">アカウント</h4>
		<div class="row justify-content-center">
			<div class="col-md-5 mb-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">GitHub</h5>
						<a href="https://github.com/yamato080915" target="_blank" class="btn btn-dark">
							<i class="bi bi-github"></i> yamato080915
						</a>
						<div class="ratio ratio-21x9">
							<img src="https://github-readme-stats.vercel.app/api?username=yamato080915&show_icons=true&theme=default" class="img-fluid" alt="GitHub Stats">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-5 mb-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">AtCoder</h5>
						<a href="https://atcoder.jp/users/yamato0915" target="_blank" class="btn btn-primary me-2">
							@yamato0915
						</a>
						<div class="p-2 d-flex align-items-center {{ atcoder[-1]['Rank'] }}b" id="atcoder-div" style="max-width: 600px;transform: rotate(0);border-radius: 4px;">
							<div class="fs-1 mx-2 {{ atcoder[-1]['Rank'] }} ratingf" id="rating">{{ atcoder[-1]["NewRating"] }}</div>
							<div class="text-center mx-2">
								<div class="small" id="place">{{ atcoder[-1]["Place"] }}{% if atcoder[-1]["Place"][-1]=="1" %}st{% elif atcoder[-1]["Place"][-1]=="2" %}nd{% elif atcoder[-1]["Place"][-1]=="3" %}rd{% else %}th{% endif %}</div>
								<div class="text-muted small" id="diff">{% if atcoder[-1]["NewRating"] - atcoder[-1]["OldRating"]>0 %}+{% elif atcoder[-1]["NewRating"] - atcoder[-1]["OldRating"]==0 %}±{% endif %}{{ atcoder[-1]["NewRating"] - atcoder[-1]["OldRating"] }}</div>
							</div>
							<div class="text-start mx-2">
								<div class="small" id="endtime">{{ atcoder[-1]["EndTime"] }}</div>
								<div class="fw-semibold fs-5 compressed-text" id="contestname">{{ atcoder[-1]["ContestName"] }}</div>
							</div>
							<a href="https://atcoder.jp/contests/{{ atcoder[-1]['ContestScreenName'].split('.')[0] }}/standings?watching=Yamato0915" id="atcoder-a" class="stretched-link"></a>
						</div>
						<div class="ratio ratio-16x9 pb-2">
							<canvas class="mt-3" id="ratingChart" width="800" height="450"></canvas>
						</div>
						<a href="{{ url_for('home.AtcoderHistory') }}">[コンテスト成績表]</a>
					</div>
				</div>
			</div>
			<div class="col-md-5 mb-4">
				<div class="card shadow-sm">
					<div class="card-body">
						<h5 class="card-title">OnlineMathContest</h5>
						<a href="https://onlinemathcontest.com/users/yamato0915" target="_blank" class="btn btn-primary me-2">
							@yamato0915
						</a>
						<div class="p-2 d-flex align-items-center {{ omc[-1]['Rank'] }}b" id="omc-div" style="max-width: 600px;transform: rotate(0);border-radius: 4px;">
							<div class="fs-1 mx-2 {{ omc[-1]['Rank'] }} ratingf" id="omcrating">{{ omc[-1]["NewRating"] }}</div>
							<div class="text-center mx-2">
								<div class="small" id="omcplace">{{ omc[-1]["Place"] }}{% if omc[-1]["Place"][-1]=="1" %}st{% elif omc[-1]["Place"][-1]=="2" %}nd{% elif omc[-1]["Place"][-1]=="3" %}rd{% else %}th{% endif %}</div>
								<div class="text-muted small" id="omcdiff">{% if omc[-1]["NewRating"] - omc[-1]["OldRating"]>0 %}+{% elif omc[-1]["NewRating"] - omc[-1]["OldRating"]==0 %}±{% endif %}{{ omc[-1]["NewRating"] - omc[-1]["OldRating"] }}</div>
							</div>
							<div class="text-start mx-2">
								<div class="small" id="omcendtime">{{ omc[-1]["EndTime"] }}</div>
								<div class="fw-semibold fs-5 compressed-text" id="omccontestname">{{ omc[-1]["ContestName"] }}</div>
							</div>
							<a href="https://onlinemathcontest.com/contests/{{ omc[-1]['ContestScreenName'].split('.')[0] }}" id="omc-a" class="stretched-link"></a>
						</div>
						<div class="ratio ratio-16x9 pb-2"><canvas class="mt-3" id="omcRating" width="800" height="450"></canvas></div>
						<a href="{{ url_for('home.OmcHistory') }}">[コンテスト成績表]</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{{ url_for('home.static', filename='js/chart.js') }}"></script>
	<script>
		createRatingChart("/api/atcoder/rating", "ratingChart", "rating", "place", "diff", "endtime", "contestname", "atcoder-a", "atcoder-div");
		createRatingChart("/api/omc/rating", "omcRating", "omcrating", "omcplace", "omcdiff", "omcendtime", "omccontestname", "omc-a", "omc-div");
	</script>
{% endblock %}